//colors
$blue-dark: #004E9D;
$blue-base: #0164C9;
$blue-stormy: #477394;
$blue-light: #5DA2D6;
$blue-lighter: #C1DBEF;
$blue-lightest: #F2F6FA;
$blue-lightest-lightest: #F9FBFC;
$red: #CF2D42;
$ink-base: #000000;
$ink-light: #757575;
$white: #FFFFFF;